:root {
    --dark-color: #11243c;
    --accent-color: #03d2f9;
    --text-1-color: #e0e0e0;
    --medium-light-color: #4F5F6F;
    --medium-dark-color: #2F3F4F;
    --text-l: 2.25vh;
    --text-m: 1.75vh;
    --text-s: 1.5vh;
    --grid-border: 10px;
    --s-border: 0.125vw;
    --m-border: 0.25vw;
    --l-border: 0.5vw;
    --l-top-border: var(--l-border) var(--l-border) 0px 0px;
    --m-top-border: var(--m-border) var(--m-border) 0px 0px;
    --R-post-size:56px;
    --L-post-size:calc(100vw - (var(--R-post-size) - 1vh));
    --WSlides:5vw;
    --font-pral:'Philosopher';
    --font-content:'Lora'
}